
    :root {
        --w: calc(70vw / 6);
        --h: calc(70vh / 4);
    }

    * {
        font-family: 'Roboto', sans-serif;

        transition: all 0.5s;
    }

    body {
        padding: 0;
        margin: 0;
        background: #8C8B88;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        -webkit-perspective: 1000;
    }

    div {
        display: inline-block;
    }

    .area-tarjeta,
    .tarjeta,
    .cara {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }

    .tarjeta {
        position: relative;
        transform-style: preserve-3d;
        animation: iniciar 5s;
    }

    .cara {
        position: absolute;
        backface-visibility: hidden;
        font-size: 400%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
    }

    .trasera {
        background-color: #262626;
        transform: rotateY(180deg);
    }

    .superior {
        background: #D9D9D9;
    }

    .nuevo-juego {
        cursor: pointer;
        background: #262626;
        padding: 20px;
        border-radius: 0.5rem;
        font-size: 130%;
        color: #D9D9D9;
    }

    @keyframes iniciar {

        20%,
        90% {
            transform: rotateY(180deg);
        }

        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
